.dropdown-menu {
    display:flex;
    flex-direction: column;
    width:300px;
    padding: 20px;
    border: none;
    outline: none;
    background-color: transparent;
}

.dropdown {
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}
  
.dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-bottom: 0px;
}

.arrow {
    color: black;
    display: inline-block;
    transition: transform 0.3s ease;
}

.arrow.open {
    transform: rotate(90deg);
}

.dropdown h1 {
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    color: black;
}
  
.dropdown ul {
    list-style: none;
    padding-left: 10px;
    margin-top: 10px;
}
  
.dropdown ul li {
    padding: 2px 15px;
    font-size: 1em;
    cursor: pointer;
}
  
.dropdown ul li:hover {
    background-color: #ddd;
    border-radius: 20px;
    padding-left: 10px;
}

.clear-button {
    margin-top: 20px;
    padding: 5px 10px;
    background-color: #f5f5f5;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    align-self: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.clear-button:hover {
    background-color: #ddd;
    transform: scale(1.05);
}